<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <%- include('partials/navbar') %>

  <div class="container">
    <div class="grid-container">

      <% products.forEach(product => { %>
        <a href="/products/<%= product.id %>">
          <div class="card">
            <div class="card-image">
              <img src="<%= product.image_url %>" alt="<%= product.name %>">
            </div>
            <div class="card-info">
              <h3 class="card-title"><%= product.name %></h3>
              <p class="card-price">$<%= product.price %></p>
              <p class="card-catg"><%= product.category %></p>
            </div>
          </div>
        </a>
      <% }) %>

    </div>
  </div>

  <%- include('partials/footer') %>

</body>
</html>
